#help_top {
	position: relative;
	float: left;
	width: 100%;
	height: 40%;
}

#iframe {
	width: 100%;
	height: 100%;
}

#help_center {
	position: absolute;
	margin-top: 130px;
	margin-left: 0px;
	width: 99%;
	height: 100%;
	/*   border: 1px solid #ABC3FC; */
}

#help_left {
	position: relative;
	float: left;
	width: 15%;
	height: 210px;
}

#login_iframe {
	width: 100%;
	height: 100%;
}

#help_left_img {
	width: 15%;
	height: 200px;
	border: 1px solid blue;
}

.help_left_img {
	border: 1px solid lightblue;
}

.help_left_img img {
	height: 60%;
	width: 90%;
}

#help_middle {
	position: relative;
	float: left;
	width: 70%;
	height: 490px;
	margin-top: 5px;
}

.help_middle {
	position: relative;
	float: left;
	height: 100px;
	width: 100%;
	margin-bottom: 0px;
	vertical-align: middle;
	text-align: left;
	padding-top: 5px;
	background-image: url(images/un_bg.gif);
	border: 1px solid #ABC3FC;
	background-repeat: repeat-x;
	font-weight: bold;
	padding-left: 2px;
}

.help_middle_child {
	width: 100%;
	height: 15px;
	text-align: center;
	font-weight: normal;
	margin-top: 6px;
	padding-top: 5px;
	background-image: url(images/head_bg.jpg);
	background-repeat: repeat-x;
}

.help_middle_img {
	position: relative;
	float: left;
	margin-left: 80px;
	margin-right: 40px;
	margin-bottom: 25px;
	margin-top: 15px;
}

.help_middle_info {
	position: relative;
	flost: left;
	text-align: left;
}

#help_middle_game {
	position: relative;
	float: left;
	height: 150px;
	width: 100%;
	margin-bottom: 0px;
	vertical-align: middle;
	text-align: left;
	padding-top: 5px;
	background-image: url(images/un_bg.gif);
	border: 1px solid #ABC3FC;
	background-repeat: repeat-x;
	font-weight: bold;
	padding-left: 2px;
}

.font_bold {
	font-weight: bold;
}

#help_right {
	position: relative;
	float: right;
	margin-right: 0px;
	margin-top: 0px;
	text-align: normal;
	text-indent: 1em;
	text-align: normal;
}

.help_right {
	border: 1px solid lightblue;
	width: 180px;
	height: 3%;
	margin-top: 5px;
	margin-right: 5px;
	text-indent: 1em;
	text-align: normal;
}

.font_normal {
	font-size: 80%;
}

#footer{
	position:absolute;
	margin:0px,3px;
	width:100%;
}

#footer_img{
	position:relative;
	float:left;
	width:20%;
}
#footer_info{
	position:relative;
	float:left;
	vertical-align: middle;
	text-align: center;
	margin-top:0px;
	margin-left:10%;
}
a{
	text-decoration: none;
}

a:link {
	color: #484848;
	text-decoration: none;
	font-size: 12px;
	font-family: "ו";
}
a:visited {
	font-size: 12px;
	color: #484848;
	text-decoration: none;
	font-family: "ו";
}
a:hover {
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
	font-family: "ו";
}